<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    <link type="text/css" href="{% static 'css/metro.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/metro-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static "css/metro-responsive.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/metro.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>

    <title>Edit page</title>

    <script type="text/javascript">
        {#        Delete email from blacklist#}
        function deleteEmailFromBlacklist(email, user_id) {
            $.ajax({
                method: 'POST',
                url: "{% url 'deleteDbByAjax' %}",
                cache: false,
                dataType: 'json',
                data: {
                    email: email,
                    user_id: user_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log(data.result);
                    $.Notify({
                        type: 'info',
                        keepOpen: true,
                        caption: 'Message',
                        content: data.result,
                        icon: '<span class="mif-info"></span>'
                    });
                    loadBlacklistTable();
                }
            });
        }

        {#        Load blacklist table     #}
        function loadBlacklistTable() {
            {#            Display blacklist Table#}
            $('#blacklist').css('display', 'block');
            {#            Hide and empty suggestion list#}
            $('#suggestions').html('').css('display', 'none');
            $.ajax({
                method: 'POST',
                url: "{% url 'ajaxSearch' %}",
                cache: false,
                dataType: 'json',
                data: {
                    email: $('#search-in-blacklist-with-ajax').val(),
                    user_id: {{ user.id }},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    var result = $.parseJSON(data.emaillist);
                    var counter = 1;
                    var resultlist = '<table class="dataTable striped hovered cell-hovered border bordered" data-role="datatable" data-auto-width="false" data-searching="false">' +
                            '<thead><tr>' +
                            '<td class="sortable-column sort-asc">Number</td>' +
                            '<td class="sortable-column">Email</td>' +
                            '<td class="sortable-column">User ID</td>' +
                            '<td class="sortable-column">Type</td>' +
                            '<td style="width: 40px"></td>' +
                            '</tr></thead><tbody>';
                    $.each(result, function (i, item) {
                        if (i >= 0) {
                            resultlist += '<tr>' +
                                    '<td>' + counter + '</td>' +
                                    '<td>' + item.fields.email + '</td>' +
                                    '<td>' + item.fields.user_id + '</td>' +
                                    '<td>' + item.fields.type + '</td>' +
                                    '<td><button class="button warning" onclick="deleteEmailFromBlacklist(\'' + item.fields.email + '\',\'' + item.fields.user_id + '\');"><span class="mif-bin"></span>Delete</button></td>' +
                                    '</tr>';
                        } else {
                            resultlist = '';
                        }
                        ++counter;
                    });
                    resultlist += '</tbody></table>';
                    $('#blacklist').html(resultlist);
                }
            });
        }

        {#        Fill the selected suggestion into the searching input     #}
        function fillIntoSearch(obj) {
            $('#search-in-blacklist-with-ajax').val($(obj).text());
        }

        {#        Ajax query for keyup event of the searching input    #}
        function ajaxSearch() {
            $('#search-in-blacklist-with-ajax').keyup(function () {
                if ($(this).val().length <= 0) {
                    $('#suggestions').html('').css('display', 'none');
                    return;
                } else {
                    $.ajax({
                        method: 'POST',
                        url: "{% url 'ajaxSearch' %}",
                        cache: false,
                        dataType: 'json',
                        data: {
                            email: $(this).val(),
                            user_id: {{ user.id }},
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            var result = $.parseJSON(data.emaillist);
                            var resultlist = '';
                            $.each(result, function (i, item) {
                                if (i >= 0) {
                                    $('#suggestions').css({'width': $('#search-in-blacklist-with-ajax').width() + 4});
                                    resultlist += '<div class="list"><div class="list-content"><span class="list-subtitle" onclick="fillIntoSearch(this);">' + item.fields.email + '</span></div></div>';
                                } else {
                                    resultlist = '';
                                }

                                console.log(i + '----' + item.fields.email);
                            });
                            $('#suggestions').html(resultlist).css('display', 'block');
                        }
                    });
                }
            });
        }

        <!-- While the page loaded -->
        $(document).ready(function () {
            ajaxSearch();
            $('#blacklist').css('display', 'none');
        });
    </script>
</head>
<body>
<!-- Header -->
<div style="margin-top: 30px">
    <h1 class="tile-area-title fg-cyan" style="display: inline-block; font-weight: 500; margin-left: 20px">Welcome</h1>
    <div class="tile-area-controls padding10" style="float: right; display: inline-block;">
        <button class="image-button icon-right bg-transparent fg-dark bg-hover-teal no-border"
                style="background-color: transparent"><span
                class="sub-header no-margin text-light" style="font-weight: 500">{{ user.username }}</span> <span
                class="icon mif-user"></span>
        </button>
        <a href="{% url 'logout' %}" class="square-button bg-transparent fg-dark bg-hover-teal no-border"
           style="background-color: transparent"><span class="mif-exit" style="margin-top: 3px"></span></a>
    </div>
</div>
<hr/>
<div style="height: 30px">&nbsp;</div>
<!-- End of Header -->

<!-- Main Content-->
<div>
    <!-- Errors -->
    <div>
        {% if request.GET.message %}
            <script>
                $.Notify({
                    type: 'info',
                    keepOpen: true,
                    caption: 'Message',
                    content: '{{ request.GET.message|safe }}',
                    icon: '<span class="mif-info"></span>'
                });
            </script>
        {% endif %}
    </div>
    <!-- Uploaded message -->
    <div>
        {% if request.GET.imported and request.GET.repeated %}
            <script>
                $.Notify({
                    type: 'info',
                    keepOpen: true,
                    caption: 'Message',
                    content: '<li>{{ request.GET.imported|safe }} imported</li><li>{{ request.GET.repeated|safe }} repeated</li>',
                    icon: '<span class="mif-info"></span>'
                });
            </script>
        {% endif %}
    </div>
    <!-- 1. Add blacklist form by manual -->
    <div>
        <h4>1. Add blacklist form by manual</h4>
        <div class="padding20 block-shadow">
            <form method="post" action="{% url 'editProcess' %}">
                <!-- Email field-->
                <div class="input-control email" data-role="input">
                    {{ add_blacklist_form_by_manual.email }}
                    <span class="label">Blacklist email</span>
                    <button class="button helper-button clear"><span class="mif-cross"></span></button>
                </div>

                <!-- Type field-->
                <div class="input-control select" data-role="input">
                    <span class="label">Choice a type</span>
                    {{ add_blacklist_form_by_manual.type }}
                </div>

                <!-- User_id field-->
                <div class="input-control hidden" data-role="input">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                </div>

                {% csrf_token %}
                <!-- Update type = manual -->
                <input type="hidden" name="update_type" value="manual">
                <div class="form-actions">
                    <button type="submit" class="button primary">Submit</button>
                    <button type="reset" class="button link">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 2. Add blacklist form by CSV -->
    <div>
        <h4>2. Add blacklist form by CSV</h4>
        <div class="padding20 block-shadow">
            <form method="post" action="{% url 'editProcess' %}" enctype="multipart/form-data">
                <!-- Select a file field-->
                <div class="input-control file" data-role="input">
                    {{ add_blacklist_form_by_CSV.csvfile }}
                    <button class="button"><span class="mif-folder"></span></button>
                </div>

                <!-- User_id field-->
                <div class="input-control hidden" data-role="input">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                </div>

                {% csrf_token %}
                <!-- Update type = csvfile -->
                <input type="hidden" name="update_type" value="csvfile">
                <div class="form-actions">
                    <button type="submit" class="button primary">Submit</button>
                    <button type="reset" class="button link">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 3. Search blacklist from database with AJAX -->
    <div>
        <h4>3. Search blacklist from database with AJAX</h4>
        <div class="padding20 block-shadow">
            <div class="cell auto-size padding20 bg-white">
                Search:
                <div class="input-control text" data-role="input">
                    <input type="text" id="search-in-blacklist-with-ajax">
                    <button class="button" onclick="loadBlacklistTable()"><span class="mif-search"></span></button>
                </div>
                <div id="suggestions" class="listview-outlook" data-role="listview"></div>
                <div id="blacklist">

                </div>
            </div>
        </div>
    </div>

    <!-- Extra: 4. Using pure javascript -->
    {#    <div>#}
    {#        <h4>Extra: 4. Using pure javascript</h4>#}
    {#        <div class="padding20 block-shadow">#}
    {#            <div class="cell auto-size padding20 bg-white">#}
    {#                <h4 class="text-light"> Blacklist </h4>#}
    {#                <hr class="thin bg-grayLighter">#}
    {#                <table class="dataTable striped hovered cell-hovered border bordered" data-role="datatable"#}
    {#                       data-auto-width="false" id="blacklist">#}
    {#                    <thead>#}
    {#                    <tr>#}
    {#                        <td class="sortable-column sort-asc">ID</td>#}
    {#                        <td class="sortable-column">Email</td>#}
    {#                        <td class="sortable-column">User ID</td>#}
    {#                        <td class="sortable-column">Type</td>#}
    {#                    </tr>#}
    {#                    </thead>#}
    {#                    <tbody>#}
    {#                    {% for blacklist in blacklists %}#}
    {#                        <tr>#}
    {#                            <td>{{ blacklist.id }}</td>#}
    {#                            <td>{{ blacklist.email }}</td>#}
    {#                            <td>{{ blacklist.user_id }}</td>#}
    {#                            <td>{{ blacklist.type }}</td>#}
    {#                        </tr>#}
    {#                    {% endfor %}#}
    {#                    </tbody>#}
    {#                </table>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

</div>
<!-- End of Main Content-->

<!-- Footer -->
<div style="height: 30px">&nbsp;</div>
<hr/>
<footer>
    <div class="bottom-menu-wrapper">
        <ul class="horizontal-menu compact" style="font-weight: 500">
            <li><a>&copy;
                <script type="text/javascript">document.write('2016-' + new Date().getFullYear() + '');</script>
                <span style="font-weight: bold">by XXXX</span> &nbsp;&nbsp;V0.0.01</a></li>
            <li class="place-right"><a href="#">XXX</a></li>
            <li class="place-right"><a href="#">XXX</a></li>
            <li class="place-right"><a href="#">XXX</a></li>
            <li class="place-right"><a href="#">XXX</a></li>
            <li class="place-right"><a href="#">XXX</a></li>
        </ul>
    </div>
</footer>
<!-- End of Footer -->
</body>
</html>